/* ================================
   SECCIÓN DE ABOUT
================================== */
.about-section {
  background: linear-gradient(180deg, #1a1a1a, #333333);
  position: relative;
  padding: 1rem 0;
}

.about-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-content h2 {
  color: #bddd0a;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.about-content p {
  color: #ccc;
  font-size: 20px;
  margin-bottom: 0rem;
}

.about-logo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bddd0a;
  padding: 30px;
  background: linear-gradient(180deg, #1a1a1a1a, #681a1a);
  margin-top: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

/* Estado hover para el logo */
.about-logo:hover {
  transform: scale(1.05) translateY(-5px); /* Ligeramente más grande */
  box-shadow: 0 0 25px rgba(189, 221, 10, 0.7); /* Sombra con el color del borde y mayor intensidad */
  border-color: #e0ff40; /* Un verde/amarillo más brillante para el borde */
}

.about-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
  margin-left: 10px;
}

/* MAPA =========================== */
.map-container {
  display: block;

  margin-left: 0;
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.map-container iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
}

/* ================================
   DISEÑO RESPONSIVO - ABOUT
================================== */
@media (max-width: 768px) {
  .about-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .about-content {
    align-items: center;
    text-align: center;
    padding: 0 1rem;
  }

  .about-content h2 {
    font-size: 33px;
  }

  .about-content p {
    font-size: 14px;
    padding: 0 1rem;
  }

  .logo-circular {
    width: 100px;
    height: 100px;
    border-width: 3px;
  }
}
